/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: url('images/pc_2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF; /* White */
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #1E3A5F; /* Darker Blue */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Project Tiles Styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center tiles on all screen sizes */
}

.project-tile {
    background-color: #4B4B4B; /* Gray */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 40px); /* Flex tiles to 3 per row, adjust for margin */
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s ease; /* Add box-shadow transition */
}

.project-tile img {
    width: 100%; /* Full width for image inside tile */
    height: auto;
    object-fit: cover; /* Ensures the aspect ratio is maintained */
}

.project-tile h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.project-tile a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1E3A5F; /* Darker Blue */
    color: #FFFFFF; /* White */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add smooth transitions */
}

.project-tile a:hover {
    background-color: #2F4F4F; /* Dark Slate Gray */
    transform: scale(1.05); /* Slightly larger button on hover */
}

.project-tile:hover {
    transform: scale(1.08); /* Scale up tile on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .project-tile {
        width: calc(50% - 40px); /* 2 tiles per row on tablets */
    }
}

@media (max-width: 480px) {
    .project-tile {
        width: calc(100% - 40px); /* Full width for each tile on small screens */
    }
}
