/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: url('images/pc.png') no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF; /* White */
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #1E3A5F; /* Darker Blue */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Project Tiles Styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-tile {
    background-color: #4B4B4B; /* Gray */
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
}

.project-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.project-tile h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.project-tile a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1E3A5F; /* Darker Blue */
    color: #FFFFFF; /* White */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.project-tile a:hover {
    background-color: #2F4F4F; /* Dark Slate Gray */
}

.project-tile:hover {
    transform: scale(1.05);
}